<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Aufenthaltsrechner</string>
    <key>CFBundleDisplayName</key>
    <string>JJRs Aufenthaltsrechner</string>
    <key>CFBundleIdentifier</key>
    <string>com.jjreichel.aufenthaltsrechner</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>Aufenthaltsrechner</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Aufenthaltsrechner liest GPS-Daten aus deiner Foto-Mediathek, um Aufenthaltsorte zu ermitteln.</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
</dict>
</plist>
